* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.888) !important;
    color: wheat !important;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1.5rem;
    background-color: darkslategray;
}

header .title {
    box-shadow: 0 0 12px blue;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

header .title h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 1.1px;
    color: lightblue;
}

header .title p {
    font-family: monospace;
}

header .logo {
    display: flex;
    width: auto;
    margin: 0;
}

header .logo i {
    border-bottom: 1px solid blue;
    padding-bottom: 0.3rem;
    font-size: 3rem;
    color: orangered;
    
} main {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.555);
    padding: 1rem;
    margin: 0 auto;
}

main section {
    width: 100%;
    display: flex;    
}

main section .container {    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main section .container .galeria a {
    padding: 0.5rem;
}