body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.888) !important;
    color: lightblue !important;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1.5rem;
    margin-bottom: 1rem;
    background-color: darkslategray;
    color: lightblue;
}

header i {
    font-size: 2.5rem;
    color: forestgreen;
    text-shadow: 0 0 5px orange;
}

main {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}

main section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}    

main section .container .img {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

main section .container .img img {
    width: 100%;
    
}

main section .container .img #terceiraSemana {
    display: none;
}
